.header {
	border-bottom: 1px solid #e1e1e1;
	color: #343030;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 96px;
	}
}

.menu__button {
	display: flex;
	flex-direction: column;
	width: 48px;
	height: 48px;
	padding: 10px 10px 5px 10px;
	background-color: #403432;
	cursor: pointer;
	&-item {
		height: 10px;
		margin-bottom: 5px;
		background-color: #fff;
	}
}

.form {
	position: relative;
	height: 48px;
	width: 416px;
	&-input {
		height: 100%;
		width: 100%;
		padding: 13px 16px 14px;
		outline: none;
	}
	&-btn {
		position: absolute;
		right: 0;
		background: #403432;
		min-width: 122px;
	}
}
